

<div class="container" style="min-height: 75vh;">
  <div class="row my-3 py-3 shadow-sm border bg-white">
    <div class="col-lg-12">
      <h3>
        Reporte de actividades
      </h3>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Desde</label>
        <input [(ngModel)]="fechas.desde" type="date" class="form-control">
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label for="">Hasta</label>
        <input [(ngModel)]="fechas.hasta" type="date" class="form-control">
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <button (click)="reporteDeActividades()" class="btn btn-primary">
          <i class="fas fa-file-excel"></i> 
          Generar Reporte
        </button>
      </div>
    </div>

  </div>
</div>