<div class="container-fluid bg-white">
  <div class="container">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">

            <!-- Content -->
            <h5 class="text-uppercase">
              <img src="../../../assets/img/logo/logo_mapp.png" width="60" height="60" alt="Logo IVVUO">
            </h5>
            <small>
              IVVUO <br>
              Inspección digital <br>
              Bogotá D.C. - Colombia
            </small>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <p class="text-uppercase text-small">IVVUO</p>

              <ul class="list-unstyled text-small">
                <li>
                  <a href="https://ivvuo.com/">Home</a>
                </li>
                <li>
                  <a href="https://ivvuo.com/#/public/login">Acceder</a>
                </li>
                <li>
                  <a href="https://ivvuo.com/#/public/privacy-policy">Política de privacidad</a>
                </li>
                <!-- <li>
                  <a href="#!">Link 4</a>
                </li> -->
              </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

              <!-- Links -->
              <!-- <h5 class="text-uppercase">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul> -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-left py-3 text-small text-uppercase">© {{ano}} Copyright
        <a href="https://ivvuo.com/"> ivvuo.com </a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
  </div>
</div>

