html body {
    background-color: blue !important;
}

.iv-primary-text {
    color: #1d96c4 !important;
}

.iv-secondary-text {
    color: #59add4 !important;
}

.iv-primary-text {
    color: #106384 !important;
}

.iv-primary-text {
    color: #002937 !important;
}

.iv-primary-bg {
    color: #1d96c4 !important;
}

.iv-secondary-bg {
    color: #59add4 !important;
}

.iv-primary-bg {
    color: #106384 !important;
}

.iv-primary-bg {
    color: #002937 !important;
}

